/* импорт гугл шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Pt Sans', sans-serif; */
    font-family: 'Lora', serif;
}



span {
    font-size: 15px;
}


header {
    background-color :rgb(224, 224, 224);
    height: 50px;
    display: none;
}

footer {
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    margin: auto;
}


nav {
    /* border: 5px dotted black; */
    height: inherit;
    display: flex;
    /* justify-content: start; */
    align-items: center;    
}

nav > a {
    text-decoration: none;
    color: black;
    padding: 0 30px;
    font-size: 20px;
}

main > * {
    margin: auto;
    margin-top: 30px;
}

div.about_us {
    display: flex;
    justify-content: center;
    /* border: 1px solid gray; */
    margin: 1em auto;
    padding: 10px;
    width: max-content;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.1);
}

div.about_us-description>p {
    display: flex;
    justify-content: space-between;
}

.about_us img {
    width: 100px;
    height: 150px;
    margin: 10px auto;
    display: block;
    object-fit: cover;
    object-position: -80px top;
    /* border: 1px solid gray; */
}

.about_us-description {
    display: flex;
    flex-direction: column;
}
.about_us-description * {
    padding: 5px;
}

.my_game {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.1);
}
.my_game > * {
    text-align: center;
}
.my_game input, .my_game button {
    border: none;
    /* background-color: gray; */
    margin: 5px;
    min-height: 30px;
}

.my_game input {
    background-color: lightgray;
    outline: none;
}

.my_game button {
    max-width: max-content;
    background-color: hsla(47, 18%, 85%, 0.866);
    padding: 0 20px;
    border-radius: 10px;
}

.game_pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 300px
}
.question_pic {
    background-image: url("../img/avatar.jpeg");
}
.start_pic {
    background-image: url("../img/main-qimg-ffbbc354c1bb690940e0850f7658bb14.webp");
    background-size: 100%;
    background-position:center 0px;
}
.lose_pic {
    background-image: url("../img/7089473-aku_(1).jpg");
    background-size: 230%;
    background-position:center -60px;
}
.win_pic {
    /* background-image: url("../img/168-1688729_fan-contentwhen-samurai-jack-happy-sad.png");
    background-size: 50%;
    background-position:center 0px; */
    background-image: url("../img/d5wtfm2-67a31e76-2770-4d2a-ab8d-f15c75aaefb3.png");
    background-size: 100%;
    background-position: center 0px;
}

.chosed_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
}

.chosed_block-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;

}

.chosed_block-container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: rgb(207, 171, 141);
}
.chosen {
    border: 3px solid black;
}

div#posts_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
}
div.post {
    margin: 20px;
    box-shadow: 0px 0px 5px -2px hsla(0, 0%, 37%, 0.45);
    padding: 20px;
    border-radius: 20px;
}

#posts_block {
    max-width: 600px;   
}

#posts_block > h2 {
    margin: auto;
}

button#load_posts {
    margin: auto;
    padding: 5px 10px;
    width: 100px;
}
.posts_block-container > *{

}

#posts_block p {
    color: hsl(0, 0%, 12%);
    /* box-shadow: 0px 0px 10px -5px hsl(232, 5%, 30%); */
    background-color: hsla(221, 48%, 91%, 0.866);
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 10px;
}

#posts_block  h3 {
    margin: auto;
    text-align: justify;
    margin-bottom: 10px;
}